<!--The content below is only a placeholder and can be replaced.-->

<div class="ui grid container presentation article">
  <c-menu [items]="menuItems" [activeElement]="activeItem">
    <span class="ui item">Username</span>
    <span class="ui item">
      <img class="ui avatar image" src="/src/images/offline.png">
    </span>
  </c-menu>
  <router-outlet></router-outlet>
</div>
