<section class="ui two column stackable grid data">
  <div class="column task">
    <c-editable-input [data]="item.goal" (save)="handleGoalSave($event)" [editable]="editable"></c-editable-input>
  </div>

  <div class="column howto">
    <c-editable-input [data]="item.content" (save)="handleContentSave($event)" [editable]="editable"></c-editable-input>
    <c-material-list *ngIf="item.articles.length" (remove)="handleRemoveMaterial($event)" (add)="handleAddMaterials($event)"
      (remove)="handleRemoveMaterial($event)" [editable]="editable" [items]="item.articles"></c-material-list>
    <button *ngIf="!item.articles.length && editable" (click)="handleInitializeMaterials()">Add materials</button>
    <button *ngIf="editable" (click)="handleDeleteGoal()">Delete Goal</button>
  </div>
</section>
