<button (click)="togglePreview()">Toggle preview</button>
<c-article-header>
  <h1 class="header">
    <c-editable-input [data]="lesson?.title" (save)="handleUpdateField('title', $event)" [editable]="editable" [editor]="false"></c-editable-input>
  </h1>
  <div>
    <c-editable-input [data]="lesson?.description" (save)="handleUpdateTitle('description', $event)" [editable]="editable"
      [editor]="false"></c-editable-input>
  </div>
</c-article-header>
<div class="ui grid">
  <div class="thirteen wide tablet thirteen wide computer sixteen wide mobile column presentation-content">
    <c-material-list [items]="materials" [editable]="false"></c-material-list>
    <div class="ui hidden divider"></div>
    <div class="row">
      <div class="column">
        <div class="ui two column stackable grid table-topic">
          <div class="column task">
            <h3 class="ui header">Topic Goals</h3>
          </div>
          <div class="column howto">
            <h3 class="ui header">Information</h3>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>
    </div>
    <c-topic (update)="handleTopicSave($event)" (deleteGoal)="handleDeleteGoal($event)" (delete)="handleDeleteTopic($event)"
      [editable]="editable" [item]="item" *ngFor="let item of topics"></c-topic>
    <button *ngIf="editable" (click)="handleAddTopic()">Add topic</button>
  </div>
  <div id="sticker" class="two wide tablet computer only column">
    <c-quick-navigation [items]="quickNavigation"></c-quick-navigation>
  </div>
</div>
