<div class="row" id="technologies">
  <div class="column theme">
    <header class="ui one column grid topic">
      <div class="column">
        <h2 class="ui header underlined">
          <a class="hash" href="#{{ item.anchor }}">{{ item.title }}</a>
        </h2>
      </div>
    </header>
    <section class="ui divider"></section>
    <section class="ui two column stackable grid data">
      <div class="column task">
        {{ item.goal }}
      </div>
      <div class="column howto">
        {{ item.content }}
      </div>
    </section>
  </div>
</div>
